.about-page {
  position: relative;
  background-color: $light-section-color;
  padding-bottom: 130px;

  &__content {
    flex-basis: calc(100% - 365px);
  }

  &__asside {
    flex-basis: 365px;

    .aside-order__title {
      font-size: 21px;
      letter-spacing: .4px;
    }

    .btn__height_50 {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .about-page {
    &__content {
      flex-basis: 100%;
      padding-right: 0 !important;
    }

    &__asside {
      flex-basis: 50%;
      display: none;
    }

    .page__content-wr {
      flex-direction: column;
    }

    .current-avto__content-title {
      margin-bottom: 60px;
    }
  }
}