.current-avto {
  position: relative;
  background-color: $light-section-color;

  // HEADER
  &__header {
    height: 240px;
    position: relative;
  }

  // Header Bg
  &__bg {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-black, .7);
    }

    img {
      width: 100%;
      position: relative;
      object-fit: contain;
    }
  }

  // Header Content
  &__header-content-container {
    position: relative;
    height: calc(100% - 40px);
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
      font-family: 'Graphik', sans-serif;
      font-size: 60px;
      color: $color-white;
      font-weight: bold;
    }
  }

  // Header Path
  &__path {
    width: 100%;
    position: relative;
    height: 40px;
    background-color: rgba($color-black, .5);
  }

  &__header-path-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &__path_ul {
    list-style-type: none;
    margin: 0;
  }

  &__path_li {
    display: inline-flex;
    color: rgb(190, 190, 190);

    a {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: rgb(190, 190, 190);
    }

    &:last-child {
      color: rgb(42, 134, 201);
    }
  }

  //  CONTENT
  &__content-container {
    padding-top: 100px;
    padding-bottom: 130px;
  }

  &__content-title {
    width: 100%;
    border-bottom: 1px solid rgba(219, 219, 219, .3);
    margin-bottom: 80px;

    h2 {
      display: inline-block;
      margin: 0;
      color: $dark-section-title;
      font-family: 'Graphik', sans-serif;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.29;
      padding-bottom: 16px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $header-blue-color;
      }
    }
  }

  &__info {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__left {
    flex-basis: 768px;
    max-width: 768px;
    padding-right: 15px;
  }

  &__right {
    flex-basis: calc( 100% - 768px);
    max-width: calc( 100% - 768px);
    padding-left: 15px;
  }

  // Slider photo gallery
  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
    background-color: $color-white;
  }
  &__gallery-top {
    height: 600px;
    width: 100%;
    
    &.swiper-slide {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;
    }
  }
  &__gallery-thumbs {
    box-sizing: border-box;
    padding: 0;
    height: 110px;
    margin-top: 20px;
  }
  &__gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }
  &__gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  // Navigation buttons
  &__button-next, &__button-prev {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color-black, .8);
    z-index: 7;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: .3s ease-in-out;
    outline: none;

    &:hover {
      background-color: rgba($header-blue-color, .8);
      cursor: pointer;
    }
  }

  &__button-next {
    right: 0;
    background-image: url('/wp-content/themes/twentynineteen/images/arrow-rigth.svg');
  }

  &__button-prev {
    left: 0;
    background-image: url('/wp-content/themes/twentynineteen/images/arrow-left.svg');
  }

  // Location Mark on Active photo
  &__location-wr {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 125px;
    height: 30px;
    overflow: hidden;
  }

  &__location {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $light-section-color;
    width: 100%;
    height: 100%;
    z-index: 3;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
    padding-left: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    //font-weight: bold;
    color: $header-blue-color;
    display: flex;
    align-items: center;
  }

  // Price in Ukraine
  &__price-in-ukr {
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.29;
    color: rgb(52, 52, 52);

    span {
      font-weight: normal;
      margin-left: 15px;
    }
  }

  // Price
  &__price {
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    font-size: 37px;
    font-family: 'Graphik', sans-serif;
    font-weight: bold;
    color: $header-blue-color;
    text-align: center;
    border: 1px solid $header-blue-color;
    margin-top: 10px;
    line-height: 1;
  }

  // Order Button
  &__order-btn {
    margin-top: 30px;
  }

  // Specifications
  &__specifications {
    background-color: rgb(52, 52, 52);
    padding: 30px 15px;
    margin-top: 30px;

    &_title {
      font-family: 'Graphik', sans-serif;
      font-size: 19px;
      font-weight: bold;
      line-height: 1.29;
      color: rgb(38, 146, 205);
      text-align: center;
      margin-bottom: 20px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba($color-white, .2);
        left: 0;
        bottom: -20px;
      }
    }

    &_list {
      list-style-type: none;
    }

    &_item {
      display: flex;
      position: relative;

      &_left-side, &_right-side {
        flex-basis: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        padding: 15px 0;
        color: $color-white;
        font-style: normal;
        font-stretch: normal;
      }

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba($color-white, .2);
        left: 0;
        bottom: 0px;
      }
    }


  }

  // Tabs
  &__tabs {
    margin-top: 48px;
  }

  // Aside order block
  &__aside-order {
    margin-top: 80px;
  }
}