.faq {
  position: relative;
  background-color: $light-section-color;
  margin-top: 90px;

  &__container {
    display: flex;
    padding-bottom: 110px;
  }

  &__left-side {
    position: relative;
    flex-basis: calc(100% - 750px);
    height: 100%;
  }

  &__right-side {
    padding-top: 70px;
    flex-basis: 750px;
  }

  // Title
  &__title_wr {
    text-align: center;
  }

  &__title {
    span {
      color: $header-blue-color;
    }
  }
  
  // Items
  &__spoilers {
    position: relative;
    margin-top: 80px;
  }
  
  // Item
  &__spoiler {
    margin-top: 20px;
    position: relative;
    background-color: $color-white;
    border: 1px solid rgb(214, 218, 236);
    border-bottom: none;
    transition: .3s ease-in-out;

    &:hover {
      border-color: $blue-section-title;
      cursor: pointer;

      .faq__item-title_block {
        border-color: $blue-section-title;
      }

      .faq__content {
        border-bottom: 1px solid $header-blue-color;
      }
    }

    &.active {
      .faq__item-title_icon:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__item-title {
    font-family: 'Graphik', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: $dark-section-title;
    margin: 0;
    line-height: 60px;

    &_block {
      border-bottom: 1px solid rgb(214, 218, 236);
      transition: .3s ease-in-out;
      padding-left: 20px;
      height: 60px;
      display: flex;
      justify-content: space-between;
    }
    
    &_icon {
      float: right;
      position: relative;
      background-color: $header-blue-color;
      height: 100%;
      width: 87px;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 19% 100%);
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        left: calc(50% + 5px);
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-white;
      }

      &:before {
        width: 15px;
        height: 5px;
      }

      &:after {
        content: '';
        position: absolute;
        left: calc(50% + 5px);
        top: 50%;
        transform: translate(-50%, -50%);
        width: 5px;
        height: 15px;
        background-color: $color-white;
        //transform: translate(-50%, -50%) rotate(90deg);
        transition: .5s ease-in-out;
      }
    }
  }

  &__content {
    display: none;
    border-bottom: 1px solid rgb(214, 218, 236);
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.76;
    color: $header-default-text-color;
    transition: border .3s ease-in-out;

    p {
      margin: 0;
    }
  }

  // Scale Background
  &__scale-bg {
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
    height: 100%;
    width: 480px;
    background-color: $header-blue-color;
  }

  &__mazda {
    position: absolute;
    height: 100%;
    width: 480px;
    background-color: transparent;

    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 400px;
    }
  }

}

@media (max-width: 1199px) {
  .faq {
    &__container {
      padding-bottom: 555px;
    }

    &__h2-img {
      width: 112px;
    }

    // Scale Bg
    &__scale-bg {
      bottom: 0;
      height: 550px;
      width: 100%;
      clip-path: polygon(0% 0%, 5px 0%, 105% 100%, 0% 100%);
    }

    // Mazda
    &__mazda {
      bottom: 130px;
      height: 350px;
      width: 610px;

      img {
        height: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .faq {
    &__h2-img {
      width: 105px;
    }

    &__right-side {
      padding-top: 30px;
    }

    &__spoilers {
      margin-top: 40px;
    }

    &__item-title {
      font-size: 16px;
      line-height: 1.1;
      flex-basis: calc(100% - 50px);
    }

    &__item-title_block {
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    &__item-title_icon {
      width: 50px;
      flex-basis: 50px;
    }

    &__container {
      padding-bottom: 300px;
    }

    &__scale-bg {
      height: 300px;
    }

    &__mazda {
      height: 195px;
      bottom: 30px;
      width: 300px;
    }
  }
}