%hover-underline {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $header-link-hover-color;
  transition: width .3s ease-in-out;
}

.header {
  color: $header-default-text-color;
  position: relative;
  background-color: $color-white;

  //  Params who can change when coding finished
  border-bottom: 2px solid #0A246A;

  //  Top & Button padding
  padding: 10px 0;

  //  All links
  a {
    color: $header-default-text-color;
    transition: color .3s ease-in-out;

    &:hover, &:active, &:focus {
      color: $header-link-hover-color;
      text-decoration: none;
    }
  }

  //  Header Container
  &__container {
    display: flex;
    justify-content: space-between;
  }

  //  Logo Block
  &__logo {
    flex-basis: 185px;
    width: 185px;
    position: relative;
    
    &_img {
      max-width: 100%;
      height: 93px;
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  //  Slider
  &__contacts {
    width: 620px;
    position: relative;
    overflow: hidden;

    //  Slider wrapper
    .contacts__slider {
      height: 100%;
      padding: 10px 0;
      position: relative;

      //  Hide line before slide
      &:before {
        content: "";
        position: absolute;
        width: 11px;
        height: 100%;
        background-color: $color-white;
        top: 0;
        right: 0;
        z-index: 3;
      }
    }
    //  Slider Slide
    &_slide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: $header-vertical-line_color;
        top: 0;
        right: 10px;
      }
    }

    &_location {
      &_icon {
        width: 26px;
        height: 26px;
        position: relative;
      }

      &_link {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  //  Header Controls Block
  &__controls {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  &__lang-and-auth {
    display: flex;
  }

  //  Auth Block Position
  &__auth {
    margin-left: 35px;
  }

}

//  LANGUAGES BLOCK
.lang {
  position: relative;

  &__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Graphik', sans-serif;
  }

  &__item {
    display: inline-block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 7px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -8px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: $header-vertical-line_color;
    }

    &:first-child {
      margin-left: 0;

      &:before {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    // For Languages Hover Effect
    &:after {
      @extend %hover-underline;
    }

    //  Languages Hover Effect
    &:hover {
      &:after {
        @extend %hover-underline;
        width: 100%;
      }
    }
  }
}