.pagination {
  position: relative;

  //  Pagination item
  &__item {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid $header-default-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $header-default-text-color;
    font-family: 'Graphik', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding-top: 4px;
    transition: .3s ease-in-out;
    margin-left: 7.5px;
    margin-right: 7.5px;

    svg {
      height: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      border-color: $header-blue-color;
      color: $header-blue-color;
      cursor: pointer;
    }

    // Active page
    &.active-page {
      background-color: $header-blue-color;
      color: $color-white;
      border-color: $header-blue-color;
    }
  }

  // Arrow item
  &__type_arrow {
    border-color: $header-blue-color;
    background-color: transparent;

    svg path {
      fill: $header-blue-color;
      transition: .3s ease-in-out;
    }

    &:hover {
      background-color: $header-blue-color;

      svg path {
        fill: $color-white;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 1px;
      background-color: $header-blue-color;
    }
  }

  &__item_arrow {
    &_left {
      margin-left: 0;
      margin-right: 35px;

      &:after {
        right: -35px;
      }
    }

    &_right {
      margin-right: 0;
      margin-left: 35px;

      &:after {
        left: -35px;
      }
    }
  }
}