.reg {
  position: relative;
  background-color: $light-section-color;
  padding-bottom: 130px;

  &__form-wr {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.31);
    padding: 35px;
    padding-top: 15px;

    .ur-frontend-form {
      padding: 0;
      border: none;
    }

    //.ur-form-grid {
    //  width: 100% !important;
    //}

    .ur-frontend-form form .ur-form-row .ur-form-grid {
      padding: 0;
    }

    .form-row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__title {
    font-size: 21px;
    font-family: 'Graphik', sans-serif;
    color: $dark-section-title;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__title-wr {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      position: absolute;
      content: '';
      left: -35px;
      height: 100%;
      width: 5px;
      top: 0;
      background-color: $header-blue-color;
    }
  }

  &__desc {
    position: relative;
    top: 15px;

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 1.76;
      color: $dark-section-title;
    }
  }

  &__form {
    margin-top: 50px;

    .ur-frontend-form form .ur-form-row .ur-form-grid input[type=date], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=email], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=number], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=password], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=phone], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=text], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=timepicker], .ur-frontend-form form .ur-form-row .ur-form-grid input[type=url], .ur-frontend-form form .ur-form-row .ur-form-grid select, .ur-frontend-form form .ur-form-row .ur-form-grid textarea {
      height: 50px;
      padding-left: 15px;
      margin-bottom: 0;

      &::placeholder {
        font-size: 16px;
      }
    }

    .ur-frontend-form form .ur-form-row .ur-form-grid label, .ur-frontend-form form .ur-form-row .ur-form-grid legend {
      display: flex;
      padding: 0.25em 1em;
      margin-bottom: 0;
    }

    .ur-frontend-form form {
      display: flex;
      flex-direction: column;
    }

    .ur-frontend-form form button[type=submit], .ur-frontend-form form input[type=submit] {
      margin-left: 0;
      margin-right: 0;
      background-color: $header-blue-color;
      color: $color-white;
      font-size: 15px;
      font-family: 'Graphik', sans-serif;
      font-weight: bold;
      letter-spacing: 1.7px;
      border: 1px solid $header-blue-color;
      transition: .3s ease-in-out;
      width: 100%;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: $header-blue-color;
        background-color: transparent;
      }
    }
  }

  .reg__form .ur-frontend-form form .ur-form-row .ur-form-grid label, .reg__form .ur-frontend-form form .ur-form-row .ur-form-grid legend {
    align-items: center;
  }

  &__login {
    text-align: center;

    span {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: $header-default-text-color;
      text-align: center;
    }
  }

  .password-input-group {
    width: 100%;
  }
}