.request-form {
  width: 100%;
  height: 230px;
  background-color: rgba($color-black, .5);

  // Filters
  &__items-wr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input-wr, &__range-wr {
    position: relative;
    flex-basis: calc((100% - 90px)/4);
    margin-top: 20px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;

    img {
      position: absolute;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__arrow-img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    
    svg {
      path {
        fill: $header-blue-color;
      }
    }
  }

  &__input {
    height: 50px;
    width: 100%;
  }

  // Range Styles
  .irs--flat .irs-handle>i:first-child {
    width: 16px;
    height: 16px;
    border: solid 1px rgb(114, 195, 255);
    background-color: $color-white;
    border-radius: 50%;
    left: 0;

    &:hover {
      cursor: pointer;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: $header-blue-color;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      transform: translate(-50%,-50%);
    }
  }

  .irs--flat .irs-line {
    height: 1px;
    background-color: $placeholder-color;
  }

  .irs--flat .irs-bar {
    height: 1px;
    background-color: $header-blue-color;
  }

  .irs--flat .irs-handle {
    top: 18px;
  }

  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: $header-blue-color;
    font-size: 12px;

    &:before {
      display: none;
    }
  }

  .irs--flat .irs-from {
    &:after {
      content: 'от';
      position: absolute;
      left: -6px;
      top: 1px;
    }
  }

  .irs--flat .irs-to {
    &:after {
      content: 'до ';
      position: absolute;
      left: -8px;
      top: 1px;
    }
  }

  .irs-from, .irs-to, .irs-single {
    top: -3px;
    padding-left: 10px;
  }

  // Button
  &__btn-wr {
    margin-top: 20px;

    .btn {
      width: 255px;
    }
  }

  // Input List for Live Search
  &__input-list, &__input-model-list, &__input-location-list, &__input-fuel-list, &__input-old-list {
    position: absolute;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    top: calc(100% + 3px);
    left: 0;
    width: 100%;
    z-index: 3;
    max-height: 141px;
    overflow: scroll;
    overflow-x: hidden;

    &_ul {
      list-style-type: none;
      margin: 0;
    }

    &_li {
      padding: 15px 25px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: $placeholder-color;
      border-top: 1px solid rgba($header-vertical-line_color, .4);
      transition: .3s ease-in-out;
      line-height: 1;

      &:first-child {
        border-top: none;
      }

      &:hover {
        cursor: pointer;
        padding-left: 40px;
        color: $header-link-hover-color;
      }
    }
  }

  &__usd-mark {
    width: 90px;
    border-left: 1px solid $header-blue-color;
    top: 0;
    right: 0px;
    position: absolute;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 15px;
    text-align: center;
    color: $placeholder-color;
  }

  // Car Brand List
  #car-brand-list, #car-models-list, #car-location-list {
    display: none;
  }

  // Header mobile
  &__header {
    display: none;
  }

}

//  Request title block
.request-title {
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;

  &__wr {
    background-color: rgba($color-black, .5);
    width: 635px;
    display: flex;
  }

  p {
    margin: 0;
  }

  &__logo {
    width: 110px;
    height: 65px;
    display: flex;
    overflow: hidden;
    position: relative;

    &_bg {
      background-color: $header-blue-color;
      width: 150px;
      height: 65px;
      position: absolute;
      z-index: 1;
      transform: skew(-15deg, 0);
      right: 10px;
    }

    img {
      z-index: 2;
      margin-left: 15px;
    }
  }

  &__content {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      color: rgb(190, 190, 190);
      font-size: 16px;
    }
  }

  &__title {
    font-family: 'Graphik', sans-serif;
    line-height: 1.65;
    margin: 0;
    color: $header-blue-color;
    font-size: 21px;

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .request-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $footer-bg;
    z-index: 9999;
    display: none;

    &__input-wr, &__range-wr {
      flex-basis: calc((100% - 30px)/2);
    }

    &__items-wr {
      margin-top: 70px;
    }

    // Inputs order
    &__brand {
      order: 1;
    }

    &__model {
      order: 2;
    }

    &__location {
      order: 3;
    }

    &__old {
      order: 7;
    }

    &__name {
      order: 4;
    }

    &__phone {
      order: 5;
    }

    &__email {
      order: 6;
    }

    &__price {
      order: 7;
    }

    &__btn-wr {
      display: flex;
      justify-content: center;
    }

    // Header
    &__header {
      display: flex;
      margin-top: 20px;
    }

    &__mobile-title {
      flex-basis: calc(100% - 26px);
      font-family: 'Graphik', sans-serif;
      font-size: 21px;
      color: $color-white;
      font-weight: bold;
    }

    &__close-mobile {
      flex-basis: 26px;
    }

  }
}

@media only screen and (max-width: 767px) {
  .request-mobile-button {
    font-size: 12px;
    padding: 12px 0 10px 0;
  }

  .request-form {
    &__input-wr, &__range-wr {
      flex-basis: 100%;
    }

    &__items-wr {
      margin-top: 0;
    }

    &__location {
      display: none;
    }

    &__email {
      display: none;
    }
  }
}