//  Colors *******************
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
//  Header
$header-default-text-color: rgb(157,157,157);
$header-link-hover-color: rgb(42, 134, 201);
$header-vertical-line_color: rgb(219, 219, 219);
$header-blue-color: rgb(42, 134, 201);
//  All Pages
$light-section-color: rgb(250, 251, 255);
//  Section title
$dark-section-title: rgb(52, 52, 52);
$blue-section-title: rgb(42, 134, 201);
// Current auto page
$tabs-title-color: rgb(170, 170, 170);
$placeholder-color: rgb(190, 190, 190);
// Footer
$footer-bg: rgb(35, 40, 55);