//  Colors *******************
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
//  Header
$header-default-text-color: rgb(157,157,157);
$header-link-hover-color: rgb(42, 134, 201);
$header-vertical-line_color: rgb(219, 219, 219);