//@import "../libs/bootstrap/bootstrap.min.css";
@import "vars";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//  IMPORT SCSS PARTS *******
@import "header";