//@import "../libs/bootstrap/bootstrap.min.css";
@import "vars";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-title {
  font-family: 'Graphik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu ul.children {
  display: none;
}

// Buttons
.btn {
  display: block;
  font-family: 'Graphik', sans-serif;
  font-weight: bold;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 0;

  &__color {
    &_blue {
      color: $color-white;
      background-color: $header-blue-color;
      border: 1px solid $header-blue-color;
    }
  }

  &__width {
    &_100 {
      width: 100%;
      padding: 20px 0;
    }
  }
}

//  IMPORT SCSS PARTS *******
@import "header";
@import "home-page";
@import "request-form";
@import "avto";
@import "current-avto";
@import "tabs";
@import "aside-order";