//@import "../libs/bootstrap/bootstrap.min.css";
@import "vars";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-title {
  font-family: 'Graphik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu ul.children {
  display: none;
}

// Buttons
.btn {
  display: block;
  font-family: 'Graphik', sans-serif;
  font-weight: bold;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;

  &:hover, &:focus, &:active {
    outline: none;
  }

  // Color
  &__color {
    &_blue {
      color: $color-white;
      background-color: $header-blue-color;
      border: 1px solid $header-blue-color;
      transition: .3s ease-in-out;

      &:hover {
        background-color: transparent;
        color: $header-blue-color;
      }
    }

    &_transparent {
      background-color: transparent;
      border: 1px solid $header-blue-color;
      color: $header-blue-color;
      transition: .3s ease-in-out;

      &:hover {
        background-color: $header-blue-color;
        color: $color-white;
      }
    }
  }

  // Width
  &__width {
    &_100 {
      width: 100%;
      padding: 20px 0;
    }

    &_180 {
      width: 180px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    &_265 {
      display: block;
      width: 265px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  // Font Size
  &__fz {
    &_15 {
      font-size: 15px;
      line-height: 1;
    }
  }
}

//  IMPORT SCSS PARTS *******
@import "header";
@import "home-page";
@import "request-form";
@import "avto";
@import "current-avto";
@import "tabs";
@import "aside-order";